name: Docker Image CI

on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
                  fetch-tags: true

                  # Versioning
            - name: Calculate version
              id: version
              uses: paulhatch/semantic-version@v5.4.0
              with:
                  tag_prefix: "v"
                  major_pattern: "(MAJOR)"
                  minor_pattern: "(MINOR)"
                  version_format: "${major}.${minor}.${patch}"
                  bump_each_commit: false
                  search_commit_body: false

            - name: Set NEXT_VERSION
              run: echo "NEXT_VERSION=${{ steps.version.outputs.version }}" >> $GITHUB_ENV

            - name: Print the version
              run: echo ${{ steps.version.outputs.version }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: baoduy2412
                  password: ${{ secrets.DOCKER_TOKEN }}

            - name: Build and Push AzureDevOps image (multi-arch)
              uses: docker/build-push-action@v5
              with:
                  file: ./Dockerfile.azure-pipelines
                  platforms: linux/amd64,linux/arm64,linux/arm/v7
                  push: true
                  tags: |
                      baoduy2412/azure-devops-runner:latest
                      baoduy2412/azure-devops-runner:${{ env.NEXT_VERSION }}

            - name: Build and Push GitHub Actions image (multi-arch)
              uses: docker/build-push-action@v5
              with:
                  file: ./Dockerfile.github
                  platforms: linux/amd64,linux/arm64,linux/arm/v7
                  push: true
                  tags: |
                      baoduy2412/github-actions-runner:latest
                      baoduy2412/github-actions-runner:${{ env.NEXT_VERSION }}
